{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, and welcome to my beautiful mess of creative madness.</p>
        <p>I'm Sachin, a creative designer and developer.I like to bring the best of both worlds into my design which is also known for sophistricated simplicity and thoughtful details.</p>
        <p>I am a writer,leaner, teacher and adventure seeker. Fueled by my passion for people, places, and new experiences, I help other creatives like me, creating amazing, unforgettable, passionate brand experiences.</p>
        <p>I believe that you deserve a life you love. I believe in the power of storytelling and i belive that what you have to say matters.</p>
        <p>People may not remember what you said, but they will always remember how you made them feel. There is nothing small about being to start from beginning.We may be small but we are fierce. We have the ability from day one to create an experience that touches at the hearts and minds of the people we connect with.</p>
        <p>You are here because you have something to say.
You know you have something valuable to share and you've only barely begun to unlesh your creative potential.</p>
        <p>Its brave new digital world out there. I'm here to help you make your mark.</p>
        </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}